venv/
.venv/
__pycache__/
main/__pycache__/
main/backtest/__pycache__/
main/backtest/python/__pycache__/
main/common/__pycache__/
main/common/python/__pycache__/
main/prod/__pycache__/
main/prod/python/__pycache__/
main/prod/logs/*
*.pyc
.DS_Store
.dockerignore
.env/
.env
.env.production
*.key
/run/secrets/*